<div class="panel panel-default">
  <div class="panel-heading" data-id="{{tweet.id}}">
  	
  	{{#if tweet.retweetable}}
		<div class="pull-right">
		<button class="retweet mup btn btn-default  btn-sm">Retweet</button> 
		</div>
	{{/if}}
	{{#if tweet.viewer_is_poster}}
  		<button type="button" class="close delete pull-right" aria-label="Close"><span   aria-hidden="true">&times;</span></button>
  	{{/if}}
	<div> 
		{{#if tweet.viewer_is_poster}}
  			<strong>You</strong>
  		{{else}}
  			<a href="/user/{{tweet.poster}}">	
  				<strong >{{tweet.poster}}</strong>
  			</a>
  		{{/if}}

	  	{{#if tweet.retweeted}}
	  		 retweeted 

	  		{{#if tweet.viewer_is_author}}
	  			<strong>your</strong>
	  		{{else}}
	  			<a href="/user/{{tweet.author}}">
	  				<strong >{{tweet.author}}</strong></a>'s 
	  		{{/if}}
	  		  tweet:
	  	{{else}}
	  		 tweeted:
	  	{{/if}}
	</div>
  </div>
  <div class="panel-body">
    <div>
    {{text}}
    </div>
    
  </div>
 
</div>



